* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}
svg {
  max-width: 60%;
  padding-left: 30px;
  overflow: visible;
}
.cookie-container {
  background: linear-gradient(260deg, #9b6c50 0%, #4f2626 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 20px;
  max-height: 15rem;
  width: 30rem;
  border-radius: 1rem;
  padding: 0 1rem;
  color: white;
  overflow: hidden;
}
.cookie-container h2 {
  font-weight: 300;
}
.cookie-container p {
  
}
.cookie-container button {
  border: none;
  color: #4f2626;
  padding: 0.5rem 1rem;
  border-radius: .5rem;
  margin-top: 10px;
  cursor: pointer;
  transition: all .3s;
}
.cookie-container button:hover {
  background-color: rgb(90, 56, 56);
  color: white;
}